@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body{
    background-color: #B7EFC5;
}

/* CUSTOMS */
.color-bg-one{
    background-color: #6EDE8A;
}

.color-bg-two{
    background-color: #208B3A;
}

.color-white{
    color: #fff;
}

.color-black{
    color: #000
}

.custom-border{
    border-radius: 10px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .3);
}

.footer-bottom-border{
    border-bottom: 1px solid #FFF;
}

/* NAVBAR */

.navbar-toggler {
    color: #fff;
    border-color: #fff;
}

#navbar-container{
    border-bottom: 1px solid #6EDE8A;
}

#desc-link{
    text-decoration: none;
}

/* SERVICOS */

#servicos ul li{
    list-style: none;
}

/* FOOTER */
#footer-logo{
    height:120px
}
#footer-logo img{
   height: 100%;
}

#contacts ul li{
    list-style: none;
}

#contacts ul li a {
    text-decoration: none;
}

#credits{
    font-family: 'Source Code Pro', monospace;
}

#credits p a {
    text-decoration: none;
}