@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* Header e apresentação */

.top{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #E8F3FE 17.5%, #9ef01a);
    
}

header{
    height: 10vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    width: 100vw;
    margin: 0 auto;
}

header img{
    width: 150px;
}

header nav{
    width: 90%;
    display: flex;
    justify-content: space-around;

}

.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.6rem;
}

.nav-list a{
    text-decoration: none;
    color: #000;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #000;
    margin: 8px;
    transition: 0.3s;
}

.presentation{
    width: 70%;
    height: 75vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title-slogan{
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 10%;
}

.title-slogan h1{
    font-size: 3rem;
}

.text{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    top: 20%;
    font-size: 1.6rem;
    line-height: 50px;
}

.presentation-links{
    width: 90%;
}

.presentation-links ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.presentation-links ul a{
    color: #000;
    text-decoration: none;
}

/* budget */

.budget{
    padding-top: 35px;
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.budget h2{
    font-size: 2.7rem;
}

.budget a{
    position: absolute;
    top: 145%;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    color: #fff;
    padding: 8px 8px 8px 8px;
    border: 1px solid #004b23;
    border-left: 10px solid #007200;
    border-radius: 5px;
    background-color: #004b23;
    transition: all 0.25s ease-in-out;
}

.budget a:hover{
    background-color: #fff;
    color: #007200;
}

.servicos-container{
    width: 100%;
    height: 50%;
    position: relative;
    left: 10%;
    top: 12.5%;
    row-gap: 15px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.servico h1{
    font-size: 1.6rem;
}

/* footer */

footer{
    width: 100vw;
    height: 30vh;
    background-color:#004b23;
    color: #fff;
}

.footer-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 15%;
}

.contatos{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.emails nav ul, .numeros nav ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    position: relative;
    left: 10%;
    gap: 5px;
}

.numeros nav ul{
    left: 15%;
}

.numeros nav ul a, .emails nav ul a{
    color: #fff;
    text-decoration: none;
}

/* tranições */
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width:1400px){
    .nav-list{
        width: 100vw;
        height: 90vh;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 10.4vh;
        z-index: 1;
        transform: translateX(100%);
        background: linear-gradient(to bottom right, #E8F3FE 17.5%, #9ef01a);
        transition: transform  0.5s ease-in;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .mobile-menu{
        display: block;
        align-self: center;
    }

    .text{
        font-size: 1.5rem;
    }

    .presentation-links{
        width: 100%;
    }

    .servicos-container{
        column-gap: 20px;
        height: 70%;
        top: 7%;
        left: 0;
    }

    .servico h1{
        font-size: 1.4rem;
    }

    .budget a{
        top: 147%;
    }

    .contatos{
        width: 100%;
    }
}

@media (max-width:1100px){
    .presentation{
        height: 65vh;
    }
    
    .title-slogan h1{
        font-size: 2.5rem;
        top: 12%;
    }
    
    .text{
        top: 22%;
    }
    
    .presentation-links ul{
        flex-direction: column;
    }

    .budget{
        height: 85vh;
    }
    
    .budget a{
        position: relative;
        top: 10%;
    }

    .servicos-container{
        height: 65%;
    }
}

@media (max-width:930px){
    
    .presentation{
        height: 70vh;
    }

    .title-slogan{
        top: 7.5%;
    }
    
    .title-slogan h1{
        font-size: 2.4rem;
    }

    .text{
        top: 10%;
    }

    .budget h2{
        font-size: 2.2rem;
    }

    .emails nav ul, .numeros nav ul{
        left: 2%;
        margin-top: 10px;
    }

    .numeros nav ul{
        left: 4%;
    }
}

@media (max-width: 750px){
    .text{
        font-size: 1.3rem;
        line-height: 40px;
    }

    footer{
        height: 40vh;
    }
    
    .footer-container{
        width: 90%;
        top: 8%;
    }

    .contatos{
        flex-direction: column-reverse;
        gap: 15px;
    }
}

@media (max-width: 650px){
    header img{
        width: 125px;
    }
    
    .title-slogan h1{
        font-size: 2rem;
        top: 5%;
    }
    
    .text{
        top: 10%;
    }

    .budget h2{
        font-size: 1.8rem;
    }

    .budget a{
        font-size: 1.2rem;
    }

    .servicos-container{
        top: 5%;
    }

    .servico h1{
        font-size: 1.3rem;
    }
}

@media(max-width: 550px){
    .presentation{
        width: 90%;
        height: 59vh;
    }

    .presentation-links ul a{
        font-size: 15px;
    }

    .budget{
        height: 88vh;
    }

    .servicos-container{
        height: 67%;
    }
}

@media (max-width: 460px){
    .presentation{
        height: 61.5vh;
    }

    .title-slogan h1{
        font-size: 1.8rem;
    }

    .title-slogan h2{
        font-size: 18px;
    }

    .text{
        width: 85%;
        font-size: 1.1rem;
        line-height: 30px;
    }

    .budget{
        height: 75vh;
    }

    .budget a{
        top: 15%;
        font-size: 17px;
    }
    
    .budget h2{
        font-size: 1.6rem;
    }

    .servico h1{
        font-size: 17px;
    }

    .servicos-container{
        height: 55%;
    }
}

@media (max-width: 435px) {
    .servico h1{
        font-size: 14px;
    }

    .presentation{
        height: 80vh;
    }

    footer{
        height: 65vh;
    }
}

@media (max-width: 390px){

    .presentation-links{
        position: relative;
        bottom: 5%;
    }
    
    .presentation-links ul a{
        font-size: 13.5px;
    }

    .budget{
        height: 95vh;
    }

    .contatos span{
        font-size: 17px;
    }

    .contatos{
        font-size: 13.5px;
    }
}

@media (max-width: 376px){
    /* .presentation{
        height: 80vh;
    } */
}