@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* Header e apresentação */

.top{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #E8F3FE 17.5%, #9ef01a);
    
}

header{
    height: 10vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    width: 100vw;
    margin: 0 auto;
}

header img{
    width: 150px;
}

header nav{
    width: 90%;
    display: flex;
    justify-content: space-around;

}

.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.6rem;
}

.nav-list a{
    text-decoration: none;
    color: #000;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #000;
    margin: 8px;
    transition: 0.3s;
}

.presentation{
    width: 70%;
    height: 75vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.presentation h1{
    font-size: 3rem;
    position: relative;
    top: 20%;
}

.text{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    top: 30%;
    font-size: 1.6rem;
    line-height: 50px;
}

.presentation-links{
    width: 90%;
}

.presentation-links ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.presentation-links ul a{
    color: #000;
    text-decoration: none;
}

/* budget */

.budget{
    padding-top: 35px;
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.budget h2{
    font-size: 2.7rem;
}

.budget a{
    position: absolute;
    top: 145%;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    color: #fff;
    padding: 8px 8px 8px 8px;
    border: 1px solid #004b23;
    border-left: 10px solid #007200;
    border-radius: 5px;
    background-color: #004b23;
    transition: all 0.25s ease-in-out;
}

.budget a:hover{
    background-color: #fff;
    color: #007200;
}

.servicos-container{
    width: 100%;
    height: 50%;
    position: relative;
    left: 10%;
    top: 12.5%;
    row-gap: 15px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.servico h1{
    font-size: 1.6rem;
}

/* footer */

footer{
    width: 100vw;
    height: 10vw;
    background-color:#004b23;
    color: #fff;
}

.footer-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 15%;
}

.contatos{
    width: 45%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 170%;
}

.emails nav ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    position: relative;
    left: 10%;
    gap: 5px;
}

.numeros nav ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    position: relative;
    left: 15%;
    gap: 5px;
}

.numeros nav ul a, .emails nav ul a{
    color: #fff;
    text-decoration: none;
}

/* tranições */
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width:1400px){
    .nav-list{
        width: 100vw;
        height: 90vh;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 10.4vh;
        z-index: 1;
        transform: translateX(100%);
        background: linear-gradient(to bottom right, #E8F3FE 17.5%, #9ef01a);
        transition: transform  0.5s ease-in;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .mobile-menu{
        display: block;
        align-self: center;
    }

    .text{
        width: 100%;
        font-size: 1.5rem;
    }

    .presentation-links{
        width: 100%;
    }
}

@media (max-width:1100px){
    .presentation-links ul{
        flex-direction: column;
    }
}

@media (max-width:900px){
    .presentation h1{
        font-size: 2.5rem;
    }

    .text{
        top: 25%;
    }
}